body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin: 0;
    padding: 0;
    background-image: url('img/Contactsimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.notification {
    color: green;
    margin-bottom: 10px;
}

.error-notification {
    color: red;
    margin-bottom: 10px;
}

button {
    background-color: chocolate;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
