body {
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: black;
    text-align: center;
}

form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: 500;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgba(128, 128, 128, 0.185);
}
.container{
    height: 800px;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.login{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
}

.signup{
    font-size: 16px;
    font-weight: 600;  
}


.no_account{
    position: relative;
    top: 10px;
}

a{
    color: blue;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
nav {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline;
    }
    nav a {
        text-decoration: none;
        color: white;
        font-size: 18px; 
        font-weight: bold; 
    }

        nav a:hover {
            color: chocolate; 
        }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.homepage-content {
    position: relative;
}

h1 {
    color:black;
}

p {
    color: black;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

hr {
    border: 1px solid #ddd;
}

table {
    width: 100%;
}

    table td {
        padding: 15px;
    }

h3 {
    color: #333;
}


  


